  <nav>
        <ul>
            <li><a href="/diesel">diesel</a></li>
            <li><a href="/electricos">electricos</a></li>
            <li><a href="/gasolina">gasolina</a></li>
        </ul>
    </nav>