<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="../public/assets/CSS/style.css">
</head>
<body>

    <!-- Header -->
      {{>header}}

    <!-- Navbar -->
  
    {{>navbar}}
    <!-- Contenido principal -->
    <main>
        <section>
         <h1>Vehículos de Diésel</h1>
<p>Los vehículos diésel son populares para el transporte de carga pesada debido a su eficiencia y durabilidad. A continuación, se presentan las principales características de estos vehículos:</p>
<table>
    <tr>
        <th>Característica</th>
        <th>Descripción</th>
    </tr>
    <tr>
        <td>Rendimiento de combustible</td>
        <td>Alto en comparación con los vehículos de gasolina.</td>
    </tr>
    <tr>
        <td>Potencia de torque</td>
        <td>Mayor, ideal para cargas pesadas.</td>
    </tr>
    <tr>
        <td>Durabilidad</td>
        <td>Vida útil larga del motor.</td>
    </tr>
</table>
<div class="imagenes">
    <img src="/public/images/auto-diesel-min.jpg" alt="Vehículo diésel 1">
    <img src="/public/images/descarga.jfif" alt="Vehículo diésel 2">
</div>

        </section>
    </main>

    <!-- Footer -->
     {{>footer}}
</body>
</html>
