<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="../public/assets/CSS/style.css">
</head>
<body>

    <!-- Header -->
      {{>header}}

    <!-- Navbar -->
  
    {{>navbar}}
    <!-- Contenido principal -->
    <main>
        <section>
            <h1>Vehículos Eléctricos</h1>
<p>Los vehículos eléctricos funcionan con energía almacenada en baterías recargables. Sus características incluyen un menor impacto ambiental y una conducción silenciosa, siendo ideales para reducir las emisiones de carbono.</p>
<ul>
    <li>Motor eléctrico eficiente y de bajo mantenimiento.</li>
    <li>Alto rendimiento en consumo de energía.</li>
    <li>Emisiones cero durante el uso.</li>
</ul>
<div class="imagenes">
    <img src="" alt="Vehículo eléctrico 1">
    <img src="" alt="Vehículo eléctrico 2">
</div>

        </section>
    </main>

    <!-- Footer -->
     {{>footer}}
</body>
</html>
