<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="../public/assets/CSS/style.css">
</head>
<body>

    <!-- Header -->
      {{>header}}

    <!-- Navbar -->
  
    {{>navbar}}
    <!-- Contenido principal -->
    <main>
        <section>
           <h1>Vehículos de Gasolina</h1>
<p>Los vehículos de gasolina son aquellos que funcionan con un motor de combustión interna utilizando gasolina como combustible. Estos vehículos son conocidos por su potencia y disponibilidad en el mercado.</p>
<div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=sRMBq--LVjk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

        </section>
    </main>

    <!-- Footer -->
     {{>footer}}
</body>
</html>
