<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="../public/assets/CSS/style.css">
</head>
<body>

    <!-- Header -->
      {{>header}}

    <!-- Navbar -->
  
    {{>navbar}}
    <!-- Contenido principal -->
    <main>
        <section>
           <h1>Vehículos Terrestres de Carga</h1>
<p>Información sobre distintos tipos de vehículos terrestres de carga y sus usos en la industria. Estos vehículos están diseñados para transportar grandes cantidades de productos y materiales.</p>
<div class="imagenes">
    <img src="" alt="Vehículo de carga 1">
    <img src="" alt="Vehículo de carga 2">
</div>

        </section>
    </main>

    <!-- Footer -->
     {{>footer}}
</body>
</html>
